// Buttons alike
@mixin button-like {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,.2),
    inset 0 -3px 0 rgba(0,0,0,.3);
}

// Same width and height
@mixin squared($size) {
  width: $size;
  height: $size;
}

// Letterpress effect
@mixin letterpress($color) {
  text-shadow:
    0 1px 0 $color,
    1px 0 0 $color;
}


// Responsiveness
@mixin respond-above($breakpoint) {
  @media (min-width: ($breakpoint + 1)) {
    @content;
  }
}

@mixin respond-below($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
