<!--
  Anchor links for heading
  Level 2 to 6
  
  TODO
  It looks weird when the heading is also a link,
  but then that's also true for links in ToCs
  Would like to test a few more things
-->

{{ $icons := (.Page.Scratch.Get "svgBundle").RelPermalink }}

{{ $anchoredLinkLevels := seq 2 6 }}

{{ if in $anchoredLinkLevels .Level }}
  <h{{ .Level }} id="{{ .Anchor | safeURL }}">{{ .Text | safeHTML }} {{ printf "<a class=\"anchor\" href=\"#%s\" title='%s \"%s\".'><svg aria-hidden=\"true\"><use xlink:href=\"%s#hashtag\"/></svg></a>" (.Anchor | safeURL) (T "anchor_for") (.Text | plainify | safeHTML) $icons | safeHTML }}</h{{ .Level }}> 
{{ else }}
  <h{{ .Level }} id="{{ .Anchor | safeURL }}">{{ .Text | safeHTML }}</h{{ .Level }}> 
{{ end }}
