{{ $file    := .Destination }}
{{ $altText := .Text }}
{{ $class   := .Page.Param "markupImgClass" }}

<!-- Image processing resolutions -->
{{ $highRes   := .Page.Scratch.Get "highRes" }}
{{ $mediumRes := .Page.Scratch.Get "mediumRes" }}
{{ $lowRes    := .Page.Scratch.Get "lowRes" }}

{{ $markupAutoResizeWidth := .Page.Scratch.Get "markupAutoResizeWidth" }}

<!-- Default image path -->
{{ $imgPath := .Page.Param "imgPath" }}

{{ if $imgPath }}
  {{ $file = path.Join $imgPath $file }}
{{ end }}

{{ $encodedPixel := printf "image/gif;base64,%s" ((resources.Get "pixel.gif").Content | base64Encode) }}

<!-- Assume file is local if found -->
{{ with $.Page.Resources.GetMatch $file }}

  <!-- If image width is equal or greater than X, process it -->
  {{ if ge .Width $markupAutoResizeWidth }}

    <!--
      HACK
      Reduce reflow by generating a placeholder with similar size
    -->
  
    {{ $encodedPlaceholder := printf "image/png;base64,%s" (((resources.Get "pixel.gif").Resize (printf "%vx%v %s" (.Resize (index $mediumRes 0)).Width (.Resize (index $mediumRes 0)).Height "png")).Content | base64Encode) }}
  
    <img
      class="lazyload {{ $class }}"
      loading="lazy"
      data-srcset="{{ (.Resize (index $highRes 0)).RelPermalink }} {{ index $highRes 1 }}, {{ (.Resize (index $mediumRes 0)).RelPermalink }} {{ index $mediumRes 1 }}, {{ (.Resize (index $lowRes 0)).RelPermalink }} {{ index $lowRes 1 }}"
      src="data:{{ $encodedPlaceholder }}"
      data-src="{{ (.Resize (index $mediumRes 0)).RelPermalink }}"
      {{ with $altText }}alt="{{ . }}"{{ end }}
    />

    <noscript>
      <img
        {{ with $class }}class="{{ . }}"{{ end }}
        loading="lazy"
        srcset="{{ (.Resize (index $highRes 0)).RelPermalink }} {{ index $highRes 1 }}, {{ (.Resize (index $mediumRes 0)).RelPermalink }} {{ index $mediumRes 1 }}, {{ (.Resize (index $lowRes 0)).RelPermalink }} {{ index $lowRes 1 }}"
        src="data:{{ $encodedPlaceholder }}"
        {{ with $altText }}alt="{{ . }}"{{ end }}
      />
    </noscript>

  {{ else }}
  
    <!--
      HACK
      Reduce reflow by creating a placeholder with similar size
    -->

    {{ $placeholder := (.Resize (printf "%vx %s" .Width "png")) | images.Filter (images.Contrast -100) }}
    {{ $encodedPlaceholder := printf "image/png;base64,%s" ($placeholder.Content | base64Encode) }}

    <img
      class="lazyload {{ $class }}"
      loading="lazy"
      src="data:{{ $encodedPlaceholder }}"
      data-src="{{ .RelPermalink }}"
      {{ with $altText }}alt="{{ . }}"{{ end }}
    />

    <noscript>
      <img
        {{ with $class }}class="{{ . }}"{{ end }}
        loading="lazy"
        src="{{ .RelPermalink }}"
        {{ with $altText }}alt="{{ . }}"{{ end }}
      />
    </noscript>
    
  {{ end }}
    
{{ else }}
  <!-- If local file isn't found, assume it's a remote file -->
  {{ with (.Destination | safeURL) }}
    <img
      class="lazyload {{ $class }}"
      loading="lazy"
      src="data:{{ $encodedPixel }}"
      data-src="{{ . }}"
      {{ with $altText }}alt="{{ . }}"{{ end }}
    />
    
    <noscript>
      <img
        {{ with $class }}class="{{ . }}"{{ end }}
        loading="lazy"
        src="{{ . }}"
        {{ with $altText }}alt="{{ . }}"{{ end }}
      />
    </noscript>
  
  {{ end }}
{{ end }}
