// Monokai (pygments-high-contrast-stylesheets)
// Original: https://github.com/mpchadwick/pygments-high-contrast-stylesheets/blob/gh-pages/monokai.css
// 23 Feb 2019

.chroma,
pre,
p code,
li code {
  background: #272822;
  color: #f8f8f2
}

.chroma .hll {
  background-color: #49483e
}

.chroma .err {
  background-color: #1e0010;
  color: #eb0083
}

.chroma .ge {
  font-style: italic
}

.chroma .gs {
  font-weight: 700
}

.chroma .gu,
.chroma .cs,
.chroma .c1,
.chroma .cpf,
.chroma .cp,
.chroma .cm,
.chroma .ch,
.chroma .c {
  color: #949076
}

.chroma .no,
.chroma .kt,
.chroma .kr,
.chroma .kp,
.chroma .kd,
.chroma .kc,
.chroma .k {
  color: #66d9ef
}

.chroma .ow,
.chroma .nt,
.chroma .kn,
.chroma .gd,
.chroma .o {
  color: #f94e8a
}

.chroma .ss,
.chroma .s1,
.chroma .sr,
.chroma .sx,
.chroma .si,
.chroma .sh,
.chroma .s2,
.chroma .sd,
.chroma .dl,
.chroma .sc,
.chroma .sb,
.chroma .sa,
.chroma .s,
.chroma .ld {
  color: #e6db74
}

.chroma .fm,
.chroma .nx,
.chroma .nf,
.chroma .ne,
.chroma .nd,
.chroma .nc,
.chroma .na,
.chroma .gi {
  color: #a6e22e
}

.chroma .vm,
.chroma .vi,
.chroma .vg,
.chroma .vc,
.chroma .bp,
.chroma .w,
.chroma .nv,
.chroma .py,
.chroma .nn,
.chroma .nl,
.chroma .ni,
.chroma .nb,
.chroma .p,
.chroma .n {
  color: #f8f8f2
}

.chroma .il,
.chroma .se,
.chroma .mo,
.chroma .mi,
.chroma .mh,
.chroma .mf,
.chroma .mb,
.chroma .m,
.chroma .l {
  color: #ae81ff
}
