<!--
  HACK
  Set image processing options for render hooks
  Currently here to avoid certain priority issues...
-->

{{- .Scratch.Set "imageProc" (dict "highRes" (.Site.Params.imageProc.highRes | default .Site.Data.default.imageProc.highRes) "mediumRes" (.Site.Params.imageProc.mediumRes | default .Site.Data.default.imageProc.mediumRes) "lowRes" (.Site.Params.imageProc.lowRes | default .Site.Data.default.imageProc.lowRes) "markupAutoResizeWidth" (.Site.Params.imageProc.markupAutoResizeWidth | default .Site.Data.default.imageProc.markupAutoResizeWidth)) -}}

<!-- Generate and set the SVG bundle -->
{{- $svgBundle := resources.Get "svg/bundle.svg" | resources.ExecuteAsTemplate "img/bundle.svg" . | minify | resources.Fingerprint "md5" -}}
{{- .Scratch.Set "svgBundle" $svgBundle -}}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-mode="{{ if .Site.Params.Style.isDark }}dark{{ else }}light{{ end }}">
  <head prefix="og: http://ogp.me/ns#">
    {{ partial "head" . }}
  </head>

  <body>

    <header>
      {{ partialCached "header" . }}
    </header>

    <div class="filler">
      {{ block "main" . }}
        <!-- Stuff -->
      {{ end }}
    </div>
    
    <footer>
      {{ partial "footer" . }}
    </footer>
    
    <!-- Search -->
    {{ if eq .Layout "search" }}
      {{ $searchJS := resources.Get "js/search.js" | resources.ExecuteAsTemplate (printf "js/search.js" | relLangURL) . | minify | fingerprint }}
      <script type="module" src="{{ $searchJS.Permalink }}" integrity="{{ $searchJS.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}

    <!-- KaTeX -->
    {{ if or .Params.katex .Site.Params.katex .Params.math .Site.Params.math }}
      {{ partial "katex" . }}
    {{ end }}

  </body>
</html>
