{{ $file    := .Params.cover }}
{{ $altText := .Params.coverAlt }}

<!-- Image processing options -->
{{ $imageProc := (dict "highRes" (.Site.Params.imageProc.highRes | default .Site.Data.default.imageProc.highRes) "mediumRes" (.Site.Params.imageProc.mediumRes | default .Site.Data.default.imageProc.mediumRes) "lowRes" (.Site.Params.imageProc.lowRes | default .Site.Data.default.imageProc.lowRes)) }}

<!-- Default image path -->
{{ $imgPath := .Page.Param "imgPath" }}

{{ if $imgPath }}
  {{ $file = path.Join $imgPath $file }}
{{ end }}

{{ with $.Page.Resources.GetMatch $file }}

  <!--
    HACK
    Reduce reflow by generating a placeholder with similar size
  -->
  
  {{ $mediumRes := (index $imageProc.mediumRes 0) }}

  {{ $encodedPlaceholder := (printf "data:image/png;base64,%s" (((resources.Get "img/pixel.gif").Resize (printf "%vx%v %s" (.Resize $mediumRes).Width (.Resize $mediumRes).Height "png")).Content | base64Encode)) | safeURL }}
  
  {{ $outputSet := slice }}
  {{ $inputFile := . }}
  
  {{ range $imageProc }}
    {{ $outputSet = $outputSet | append (printf "%s %s" (($inputFile.Resize (index . 0)).RelPermalink) (index . 1)) }}
  {{ end }}

  <img
    class="lazyload cover"
    loading="lazy"
    data-srcset='{{ delimit $outputSet ", " }}'
    src="{{ $encodedPlaceholder }}"
    data-src="{{ (.Resize $mediumRes).RelPermalink }}"
    {{ with $altText }}alt="{{ . }}"{{ end }}
  />

  <noscript>
    <img
      class="cover"
      loading="lazy"
      srcset='{{ delimit $outputSet ", " }}'
      src="{{ $encodedPlaceholder }}"
      {{ with $altText }}alt="{{ . }}"{{ end }}
    />
  </noscript>
{{ end }}
