<!-- Get default accent colors -->
{{ $darkAccent   := .Site.Params.Style.darkAccent   | default .Site.Data.default.style.darkAccent }}
{{ $lightAccent  := .Site.Params.Style.lightAccent  | default .Site.Data.default.style.lightAccent }}


<section class="req-js">
  <button class="outline-dashed" title="{{ T "changeMode" }}"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><use xlink:href="#adjust"/></svg></button><input class="outline-dashed" type="color" list="presets" value="{{ if .Site.Params.Style.isDark }}{{ $darkAccent }}{{ else }}{{ $lightAccent }}{{ end }}" title="{{ T "changeAccent" }}" aria-label="{{ T "changeAccent" }}"><datalist id="presets"><option value="{{ $lightAccent }}"><option value="{{ $darkAccent }}">{{- range .Site.Params.style.presets -}}<option value="{{ . }}">{{ end }}</datalist>
</section>

<!-- noscript notice -->
{{ if .Site.Params.hasNoscriptNotice }}
  <noscript>
    <p class="noscript">{{ T "noscript" }}</p>
  </noscript>
{{ end }}
