<!-- Main CSS -->
{{ $main := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | toCSS | minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}">


<!-- If JS is disabled -->
<noscript>

  {{ $darkAccent   := .Site.Params.Style.darkAccent   | default .Site.Data.default.style.darkAccent }}
  {{ $lightAccent  := .Site.Params.Style.lightAccent  | default .Site.Data.default.style.lightAccent }}

  {{ if .Site.Params.Style.ignoreSystemSettings }}

    {{ if .Site.Params.Style.isDark }}
      <meta name="theme-color" content="{{ $darkAccent }}">
    {{ else }}
      <meta name="theme-color" content="{{ $lightAccent }}">
    {{ end }}

  {{ else }}
    <meta name="theme-color" content="{{ $darkAccent }}" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="{{ $lightAccent }}" media="(prefers-color-scheme: light)">
  {{ end }}

  <style>
  
    html {
      --accent: {{ if .Site.Params.Style.isDark }}{{ $darkAccent }}{{ else }}{{ $lightAccent }}{{ end }};
    }
  
    .req-js,
    img.lazyload {
      display: none;
    }
    
  </style>
  
</noscript>
