{{ define "main" }}

  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}

  <main class="index">
    {{ if .Content }}
      <h1>{{ .Title | emojify }}</h1>
      {{ .Content }}
    {{ else }}
    
      {{ $paginator := .Paginate $pages }}
    
      <h1>{{ T "posts" }}</h1>
      
      <ul class="posts">
       {{ range $paginator.Pages }}
          <li>
            <a class="btn" href="{{ .Permalink }}">
              <p>{{ .LinkTitle | emojify }}</p>
              {{ if not .Date.IsZero }}<time datetime="{{ .Date | dateFormat "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>{{ end }}
            </a>
          </li>
        {{ end }}
      </ul>
      
      {{ partial "pagination" . }}
      
    {{ end }}
    
  </main>

{{ end }}
