<!--
  Usage:
    figure "weird_cat.jpg" "Something that can (or not) be a cat."
    figure src="weird_cat.jpg" alt="Something that can (or not) be a cat."
    figure class="border" src="weird_cat.jpg" alt="Something that can (or not) be a cat."
    figure "weird_cat.jpg" "Something that can (or not) be a cat." "border"
    figure class="border" src="weird_cat.jpg" caption="Something that can (or not) be a cat." alt="Ask someone blind if a caption and alt text are the same thing."

  Default available classes:
    border
    borderless
-->

{{ $file    := .Get "src"     | default (.Get 0) }}
{{ $caption := .Get "caption" | default (.Get 1) | markdownify }}
{{ $class   := .Get "class"   | default (.Get 2) }}
{{ $alt     := .Get "alt"     | default $caption }}

<!-- Image processing resolutions -->
{{ $highRes   := .Page.Scratch.Get "highRes" }}
{{ $mediumRes := .Page.Scratch.Get "mediumRes" }}
{{ $lowRes    := .Page.Scratch.Get "lowRes" }}

<!-- Default image path -->
{{ $imgPath := .Page.Param "imgPath" }}

{{ if $imgPath }}
  {{ $file = path.Join $imgPath $file }}
{{ end }}

{{ with $.Page.Resources.GetMatch $file }}

  <!--
    HACK
    Reduce reflow by generating a placeholder with similar size
  -->
  
  {{ $encodedPlaceholder := printf "image/png;base64,%s" (((resources.Get "pixel.gif").Resize (printf "%vx%v %s" (.Resize (index $mediumRes 0)).Width (.Resize (index $mediumRes 0)).Height "png")).Content | base64Encode) }}

  <figure>
    <img
      class="lazyload {{ $class }}"
      loading="lazy"
      data-srcset="{{ (.Resize (index $highRes 0)).RelPermalink }} {{ index $highRes 1 }}, {{ (.Resize (index $mediumRes 0)).RelPermalink }} {{ index $mediumRes 1 }}, {{ (.Resize (index $lowRes 0)).RelPermalink }} {{ index $lowRes 1 }}"
      src="data:{{ $encodedPlaceholder }}"
      data-src="{{ (.Resize (index $mediumRes 0)).RelPermalink }}"
      {{ with $alt }}alt="{{ . }}"{{ end }}
    />

    <noscript>
      <img
        {{ with $class }}class="{{ . }}"{{ end }}
        loading="lazy"
        srcset="{{ (.Resize (index $highRes 0)).RelPermalink }} {{ index $highRes 1 }}, {{ (.Resize (index $mediumRes 0)).RelPermalink }} {{ index $mediumRes 1 }}, {{ (.Resize (index $lowRes 0)).RelPermalink }} {{ index $lowRes 1 }}"
        src="data:{{ $encodedPlaceholder }}"
        {{ with $alt }}alt="{{ . }}"{{ end }}
      />
    </noscript>
    
    {{ with $caption }}
      <figcaption>{{ . }}</figcaption>
    {{ end }}
    
  </figure>
{{ end }}
