<!-- Reduce repetition... -->
{{ $centralizedOnPage   := $.Page.Params.Social.Centralized }}
{{ $centralizedOnSite   := $.Site.Params.Social.Centralized }}
{{ $decentralizedOnPage := $.Page.Params.Social.Decentralized }}
{{ $decentralizedOnSite := $.Site.Params.Social.Decentralized }}

<section class="social">

  {{ range .Site.Data.social }}

    {{ $currentEntry  := .entry }}
    {{ $currentLabel  := .label }}
    {{ $currentBase   := .base }}
    {{ $currentIcon   := .icon.id }}

    {{ if not .decentralized }}

      {{ with (index (or $centralizedOnPage $centralizedOnSite) $currentEntry) }}

        {{ $url   := printf "%s%s" $currentBase (index . 0) }}
        {{ $label := $currentLabel }}
      
        {{ with (index . 1) }}
          {{ $label = . }}
        {{ end }}
        
        <a rel="me nofollow" href="{{ $url }}" title="{{ $label }}">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <use xlink:href="#{{ $currentIcon }}"/>
          </svg>

          <p>{{ $label }}</p>
        </a>

      {{ end }}

    {{ else }}

      {{ if (index (or $decentralizedOnPage $decentralizedOnSite) $currentEntry) }}

        {{ range (index (or $decentralizedOnPage $decentralizedOnSite) $currentEntry) }}
          <a rel="me nofollow" href="{{ index . 0 }}" title="{{ printf "%s (%s)" (index . 1) $currentLabel }}">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="#{{ $currentIcon }}"/>
            </svg>

            <p>{{ index . 1 | truncate 15 }}</p>
          </a>
        {{ end }}
        
      {{ end }}
      
    {{ end }}

  {{ end }}

</section>